/* Index Page */
/* Header Menu */

header {
    padding: 20px;
}

.menu {
    background-color: #b42024;
    top: 0;
    position: sticky;
    z-index: 2;
    box-shadow: 0 5px 8px #00000036;
}

.menu .grid-con {
    grid-column: 2/3;
}

#logo {
    width: 80px;
    margin-right: 100px;
    position: relative;
}

#top-nav label {
    position: absolute;
    top: 30px;
    right: 20px;
}

#top-nav label img {
    width: 35px;
    cursor: pointer;
    transition: all .2s ease;
} 
 
#top-nav input, #burger-con {
    display: none;
}

#top-nav input:checked ~ #burger-con {
    display: block;
}
 
#top-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#top-nav ul {
    margin-top: 10px;
    list-style-type: none;
}

#top-nav li {
    border-bottom: 2px solid white;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    margin: 0 100px;
}
 
#top-nav li:last-child {
    border: none;
}
 
#top-nav a {
    display: block;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* Video Container */

#video-con {
    background-color: gray;
    height: 500px;
}

/* Background Picture Set Up */

.background-picture {
    overflow: hidden;
}

.background-picture .grid-con {
    grid-row: 1/1;
    grid-column: 2/3;
}

.background-picture img {
    grid-column: 1/-1;
    grid-row: 1/1;
    height: 110%;
    width: auto;
    justify-self: center;
}

/* Other Containers */

#banner-slider {
    height: 600px;
}

#banner-mission, #banner-story {
    height: 550px;
}

#banner-contact {
    height: 800px;
}

.content {
    position: relative;
}

.content h2 {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    margin-top: 150px;
    font-size: 24pt;
}

#banner-contact h2 {
    margin-top: 100px;
}

.content p {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 13pt;
    line-height: 25px;
    margin-top: 10px;
}

.content button {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 11pt;

    background-color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    margin-top: 25px;
    height: 50px;
    width: 190px;
}

#banner-slider button {
    color: #b42024;
}

#banner-mission button {
    color: #007102;
}

#banner-story button {
    color: #1c1c1c;
}

.icon .fa-solid {
    color: white;
    font-size: 14pt;
    margin-top: 15px;
    float: left;
}

.fa-phone, .fa-envelope {
    margin-right: 10px;
}

.icon {
    margin: 5px 0 30px 0;
}

.icon p {
    font-size: 12pt;
}

/* Contact Form */

.form {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

.form label {
    font-family: inherit;
    font-size: 12pt;
    color: white;
    display: block;
    margin-bottom: 5px;
}

.form input[type=text], .form input[type=submit], .form textarea{
    font-family: inherit;
    border-radius: 15px;
    margin-bottom: 12px;
    padding: 12px;
}

.form input[type=text], .form textarea {
    font-size: 11pt;
    color: #414141;
    border: 2px solid #e3e3e3;
    width: calc(100% - 30px);
}

.form input:focus, .form textarea {
    outline: none;
}

.form textarea {
    height: 100%;
    resize: none;
}

.form input[type=submit] {
    font-size: 12pt;
    color: white;
    background-color: #b42024;
    border: 2px solid #ae0000;
    width: 100%;
    cursor: pointer;
}

#send {
    margin-top: 100px;
}

/* Footer */

.bottom {
    background-color: white;
}

.bottom .grid-con {
    grid-column: 2/3;
}

#footer {
    margin: 25px 0;
}

#bottom-logo {
    width: 80px;
}

#socials {
    text-align: right;
}

#socials .fa-brands {
    margin-top: 10px;
    padding-left: 5px;
    color: #b42024;
    font-size: 30pt;
    cursor: pointer;
}

#bottom-nav ul {
    margin: 50px 0 30px 0;
    list-style-type: none;
    text-align: center;
}

#bottom-nav li {
    display: inline-block;
    margin: 0 25px 20px 0;
}

#bottom-nav li:first-child {
    margin-left: 25px;
}

#bottom-nav li:last-child{
    margin-right: 0;
}

#bottom-nav a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    color: #979797;
}

#trademark {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
    text-align: center;
    line-height: 22px;
    color: #979797;

    padding-top: 30px;
    border-top: 1px solid #414141;
}

/* Mission Page */

#mission {
    height: 450px;
}

.mission {
    text-align: center;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
}

.mission h2 {
    margin-top: 150px;
    font-size: 22pt;
    padding: 10px 10px 5px 10px;
    background-color: rgba(0, 210, 140, 0.5);
}

.mission p {
    font-size: 16pt;
    font-weight: bold;
    line-height: 30px;
    margin-top: 20px;
}

.text {
    margin-bottom: 20px;
}

.text h2 {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #421f14;
    padding: 35px 0 5px 0;
    font-size: 18pt;
}

.text p {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: #421f14;
    font-size: 12pt;
    text-align: justify;
    text-justify: inter-word;
    line-height: 26px;
    margin: 20px 0 30px 0;
}

.text h3 {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: right;
    color: #b42024;
    font-size: 12pt;
    margin-top: 40px;
}

#achievement {
    height: 450px;
}

.goals {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#goal-text {
    font-size: 13pt;
    line-height: 30px;
    margin-top: 15%;
}

.anim {
    place-items: center;
    margin-top: 40px;
}

.anim div {
    display: inline-block;
}

.pop {
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.pop h3 {
    padding-top: 20px;
    font-size: 18pt;
}

.pop p {
    padding-top: 5px;
    font-size: 10pt;
}

.text-pop {
    padding: 20px;
    font-size: 10pt;
}

#web1 {
    background-image: url(../images/pexels-kaboompics-com-5808.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

#web2 {
    background-image: url(../images/pexels-maria-paula-medina-13804626.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

#web3 {
    background-image: url(../images/venti-views-JBAPQ1g5h24-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.banner-website {
    height: 320px;
}

.web-button {
    text-align: center;
}

.web-button button {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11pt;
    color: white;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: none;
    cursor: pointer;

    margin-top: 220px;
    padding-top: 5px;
    height: 50px;
    width: 90%;
}

*/ Products Page */

.products .grid-con {
    border-top: 2px solid white;
    grid-row: 1/1;
    grid-column: 2/3;
}

.wave {
    background-color: #b42024;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}

#wave-animation {
    z-index: 0;
}

/* Background Animation */

.wave-up {
    background-image: url("../images/wave1.svg");
    background-repeat: repeat-x;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    animation: up 8s ease 1 forwards;
}

@keyframes up {
    0% {
        visibility: visible;
        transform: translateY(100%);
    }

    10% {
        visibility: visible;
        transform: translateY(10%);
    }

    99.9% {
        visibility: visible;
        transform: translateY(10%);
    }

    100% {
        visibility: hidden;
        transform: translateY(10%);
    }
}

.wave-down {
    background-image: url("../images/wave1.svg");
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: down 2s 8s ease 1 forwards;
    visibility: hidden;
}

@keyframes down {
    0% {
        visibility: visible;
        transform: translateY(10%);
    }
    100% {
        visibility: visible;
        transform: translateY(100%);
    }
}

/* Slider Image */

#can img {
    width: 100%;
}

/* Arrows */

#prev, #next{
    font-size: 50px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Content */

#info {
    text-align: center;
    color: white;
}

#info h1 {
    font-family: 'League Spartan';
    color: white;
    font-size: 24pt;
    margin-top: 50px;
}

#rating {
    display: inline-block;
}

#rating img {
    width: 180px;
}

.link {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
    margin-left: 20px;
    font-size: 12pt;
}

#nv-table {
    background-color: transparent;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    border: 1.5px solid white;
    color: white;

    margin: 40px 10px;
    padding: 15px;
    max-width: 420px;
    justify-self: center;
    overflow: hidden;
}

#nv-table h2 {
    font-size: 15pt;
}

#nv-table h3 {
    font-size: 12pt;
    font-weight: lighter;
    padding: 5px 0 15px 0;
    border-bottom: 2px solid white;
}

#nv-table h4 {
    margin: 10px;
    font-size: 9pt;
    text-align: right;
}

#nv-table ul {
    font-size: 11pt;
    list-style-type: none;
}

#nv-table li:nth-child(odd) {
    background-color: #dddddd7c;
}

#nv-table li {
    padding: 5px 10px;
}

.label-heading {
    font-weight: bold;
}

.label-value {
    font-weight: lighter;
    float: right;
}

#nv-table p {
    margin-top: 10px;
    padding-top: 18px;
    line-height: 20px;
    border-top: 2px solid white;
    font-size: 9pt;
}

.buttons {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 14pt;
    color: white;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px 60px 10px;
}

#buy {
    border: none;
    background-color: #940005;
    border: 2px solid #840004;
    box-shadow: 1px 10px 10px #00000025;
    justify-self: right;
    width: 190px;
}

#write {
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 1px 10px 10px #00000025;
    justify-self: left;
    width: 190px;
}

#flavors {
    text-align: center;
    margin-bottom: 50px;
}

#flavors p {
    font-family: 'League Spartan', Arial, sans-serif;
    font-size: 16pt;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.flavor-selector img {
    padding-left: 15px;
    display: inline-block;
    width: 80px;
}

.flavor-selector img:first-child {
    padding-left: 0;
}

.flavor-selector img:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (min-width: 775px) {

    #burger-con ul {
        text-align: right;
    }

    #burger-con {
        display: inline;
    }
    
    #burger-con li {
       border: none;
       display: inline-block;
       font-size: 12pt;
       margin: 10px 10px 0 10px;
    }

    #burger-con li:last-child {
        margin: 0 0 0 10px;
     }
    
    #top-nav label {
        display: none;
    }

    #space {
        display: none;
    }

    .background-picture img {
        height: auto;
        width: 100%;
    }

    #banner-slider {
        height: 600px;
    }
    
    #banner-mission, #banner-story {
        height: 500px;
    }

    #banner-contact {
        height: 700px;
    }

    #banner-contact h2 {
        font-size: 26pt;
    }

    #banner-contact .content h2 {
        margin-top: 90px;
    }

    #banner-contact .grid-con {
        grid-template-rows: 200px 80px 100px 100px 100px;
    }

    .content {
        text-align: center;
    }

    .content h2 {
        font-size: 28pt;
    }

    .content p {
        line-height: 30px;
    }

    .content button {
        width: 22vw;
    }

    .content .icon, .form {
        text-align: left;
    }

    .icon p {
        font-size: 12pt;
    }

    .icon .fa-solid {
        font-size: 14pt;
        margin-top: 16px;
    }

    .form input[type=text], .form input[type=submit], .form textarea {
        padding: 14px 12px;
        width: calc(100% - 28px);
    }

    .form input[type=submit] {
        padding: 14px 12px;
        width: 100%;
    }

    #bottom-nav ul {
        margin-top: 30px;
    }

    #bottom-nav li {
        margin: 0 3vw 0 0;
    }

    #bottom-nav li:last-child{
        margin-right: 3vw;
    }

    .web-button {
        text-align: center;
    }

    .web-button button {
        width: 90%;
    }

    #mission {
        height: 400px;
    }

    .mission h2 {
        margin-top: 120px;
        font-size: 25pt;
    }
    
    .mission p {
        font-size: 18pt;
        line-height: 35px;
    }

    #achievement {
        height: 500px;
    }

    #goal-text {
        font-size: 14pt;
        line-height: 32px;
        margin-top: 10%;
    }
    
    .pop {
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }
    
    .pop h3 {
        font-size: 18pt;
    }
    
    .pop p {
        font-size: 11pt;
    }
    
    .text-pop {
        font-size: 12pt;
    }
    

    .text {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .text h2 {
        font-size: 20pt;
    }
    
    .text p {
        text-align: justify;
        text-align-last: center;
        text-justify: inter-word;
        line-height: 28px;
    }
    
    .text h3 {
        font-size: 14pt;
    }

    #info, #nv-table {
        grid-row: 1;
    }




}

@media screen and (min-width: 1200px) {
    
    #bottom-nav li {
        margin: 0 3vw 0 0;
    }

    #bottom-nav li:last-child{
        margin-right: 3vw;
    }

    #socials {
        text-align: center;
    }

    #bottom-nav ul {
        margin: 20px 0 40px 0;
        text-align: right;
    }
    
    #bottom-nav li {
        display: inline-block;
        margin: 0 25px 20px 0;
    }
    
    #bottom-nav li:first-child {
        margin-left: 25px;
    }
    
    #bottom-nav li:last-child{
        margin-right: 0;
    }
    
    #bottom-nav a {
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
        font-size: 12pt;
        color: #979797;
    }

    .icon p {
        font-size: 14pt;
    }

    .icon .fa-solid {
        font-size: 18pt;
        margin-top: 14px;
    }

}
