/* Index Page */
/* Header Menu */

header {
    padding: 20px;
}

.menu {
    background-color: #b42024;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 5px 8px #00000036;
}

.menu .grid-con {
    grid-column: 2/3;
}

#logo {
    width: 80px;
    margin-right: 100px;
}

#top-nav label {
    position: absolute;
    top: 30px;
    right: 20px;
}

#top-nav label img {
    width: 35px;
    cursor: pointer;
    transition: all .2s ease;
} 
 
#top-nav input, #burger-con {
    display: none;
}

#top-nav input:checked ~ #burger-con {
    display: block;
}
 
#top-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#top-nav ul {
    margin-top: 10px;
    list-style-type: none;
}

#top-nav li {
    border-bottom: 2px solid white;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    margin: 0 100px;
}
 
#top-nav li:last-child {
    border: none;
}
 
#top-nav a {
    display: block;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* Containers */

#banner-hero {
    height: 600px;
}

#banner-mission, #banner-story {
    height: 550px;
}

#banner-contact {
    height: 800px;
}

.background-hero {
    overflow: hidden;
    background-color: #74b258;
}

.background-hero .grid-con, .background-picture .grid-con, .bottom .grid-con, .products .grid-con {
    grid-row: 1/1;
    grid-column: 2/3;
}

.background-hero img, #video-con video, .background-picture img {
    grid-column: 1/-1;
    grid-row: 1/1;
    justify-self: center;
}

.background-hero img {
    height: 100%;
    width: auto;
}

#video-con {
    background-color: #b42024;
}

#video-con .content h2 {
    margin: 60px 0 30px 0;
}

#video-con video {
    width: 100%;
    max-height: 350px;
    margin-bottom: 20px;
}

.background-picture {
    overflow: hidden;
}

.background-picture img {
    height: 100%;
    width: auto;
}

/* Text Styles */

#banner-contact h2 {
    margin-top: 90px;
}

.content {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0 6px 6px #00000066;
}

.content h2 {
    text-transform: uppercase;
    font-size: 24pt;
    margin-top: 150px;
}

#banner-contact p {
    margin: 12px 0 0 0;
}

.content p {
    font-size: 13pt;
    line-height: 25px;
    margin: 10px 0 50px 0;
}

.content a {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 11pt;
    text-decoration: none;

    background-color: white;
    border: none;
    border-radius: 22px;

    padding: 18px 8vw;
    text-shadow: none;
    box-shadow: 0 6px 10px #00000066;
}

#banner-hero a {
    color: #61a042;
}

#banner-slider a {
    color: #b42024;
}

#banner-mission a {
    color: #007102;
}

#banner-story a {
    color: #1c1c1c;
}

.icon .fa-solid {
    float: left;
    font-size: 14pt;
    margin-top: 15px;
}

.fa-phone, .fa-envelope {
    margin-right: 10px;
}

.icon {
    margin: 5px 0 15px 0;
}

.icon p {
    font-size: 12pt;
}

/* Contact Form */

.form {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 0 6px 6px #00000066;
}

.form label {
    display: block;
    font-size: 12pt;
    margin-bottom: 5px;
}

.form input[type=text], .form input[type=submit], .form textarea{
    font-family: inherit;
    border-radius: 15px;
    margin-bottom: 12px;
    padding: 12px;
    box-shadow: 0 6px 10px #00000066;
}

.form input[type=text], .form textarea {
    font-size: 11pt;
    color: #414141;
    line-height: 22px;
    border: 2px solid #e3e3e3;
    width: calc(100% - 30px);
}

.form input:focus, .form textarea {
    outline: none;
}

.form textarea {
    height: 100%;
    resize: none;
}

.form input[type=submit] {
    font-size: 12pt;
    color: white;
    background-color: #b42024;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 90px;
}

/* Footer */

.bottom {
    background-color: white;
}

#footer {
    margin: 25px 0;
}

#bottom-logo {
    width: 80px;
}

#socials {
    text-align: right;
    color: #b42024;
    margin-top: 10px;
}

#socials .fa-brands {
    font-size: 30pt;
    padding-left: 5px;
    cursor: pointer;
}

#bottom-nav ul {
    margin: 50px 0 30px 0;
    list-style-type: none;
    text-align: center;
}

#bottom-nav li {
    display: inline-block;
    margin: 0 25px 20px 0;
}

#bottom-nav li:first-child {
    margin-left: 25px;
}

#bottom-nav li:last-child{
    margin-right: 0;
}

#bottom-nav a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    color: #979797;
}

#trademark {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
    text-align: center;
    line-height: 22px;
    color: #979797;
    padding-top: 30px;
    border-top: 1px solid #414141;
}

/* Index Animations */

.up-hero, .up-video.animate, .up-mission.animate, .up-story.animate, .up-contact.animate {
    animation: upslide 1s ease forwards;
}

.up-video, .up-mission, .up-story, .up-contact {
    opacity: 0;
}

@keyframes upslide {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

#top-nav a, #socials .fa-brands, #bottom-nav li {
    transition: transform 0.2s ease;
}

#top-nav a:hover, #bottom-nav li:hover {
    transform: scale(1.05);
}

#socials .fa-brands:hover {
    transform: scale(1.03);
}

.content a, .form input[type=submit] {
    transition: background-color 0.2s ease;
}

.content a:hover {
    background-color: #ededed;
}

.form input[type=submit]:hover {
    background-color: #c60005;
}

/* Our Mission Page */

#mission {
    height: 400px;
}

#achievement {
    height: 450px;
}

.banner-website {
    height: 320px;
}

/* Text Banner */

.mission {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.mission h2 {
    font-size: 22pt;
    background-color: #00d28c80;
    margin-top: 130px;
    padding: 10px 10px 5px 10px;
    box-shadow: 0 6px 6px #00000066;
}

.mission p {
    font-size: 20pt;
    font-weight: bold;
    line-height: 35px;
    margin-top: 20px;
    text-shadow: 0 6px 6px #00000066;
}

/* Text Content */

.text {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    color: #421f14;
    margin-bottom: 20px;
}

.text h2 {
    font-size: 20pt;
    text-transform: uppercase;
    padding: 35px 0 5px 0;
}

.text p {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    text-align: justify;
    text-justify: inter-word;
    line-height: 26px;
    margin: 20px 0 30px 0;
}

.text h3 {
    font-size: 14pt;
    line-height: 25px;
    text-transform: uppercase;
    text-align: right;
    color: #b42024;
    margin-top: 40px;
}

/* Achievement Container */

.goals {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#goal-text {
    font-size: 13pt;
    line-height: 30px;
    margin-top: 15%;
}

.anim {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}

.pop svg {
    width: 100px;
    height: 100px;
    transform: rotate(270deg);
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
}

.pop h3 {
    font-size: 18pt;
}

.pop p {
    padding-top: 5px;
    font-size: 10pt;
}

.ball-text {
    position: absolute;
    top: 20%;
    margin-left: 9px;
}

.text-pop {
    font-size: 12pt;
    padding: 20px;
    margin-top: 20px;
}

#tree-pop, .text-expand {
    display: none;
}

/* Button Banners */

.web-button {
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 300px;
}

#web1 {
    background-image: url(../images/pexels-kaboompics-com-5808.jpg);
}

#web2 {
    background-image: url(../images/pexels-maria-paula-medina-13804626.jpg);
}

#web3 {
    background-image: url(../images/venti-views-JBAPQ1g5h24-unsplash.jpg);
}

.web-button button {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11pt;

    background-color: #ffffff4d;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    margin-top: 220px;
    padding: 10px;
    height: 50px;
    width: 90%;
    box-shadow: 0 6px 10px #00000066;
}

/* Mission Animations */

.mission p, #goal-text, .text h3, .ball-text, .text-pop, .web-button button {
    opacity: 0;
} 

.mission h2, .web-button button.animate {
    animation: upappear 1s ease forwards;
}

@keyframes upappear {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.mission p {
    animation: reveal 1s 1s ease forwards;
}

.ball-text.animate {
    animation: reveal 1s 3s ease forwards;
}

.text-pop.animate {
    animation: reveal 1s 1s ease forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.text h3.animate, #goal-text.animate {
    animation: reveal 2s ease forwards;
}

.web-button button {
    transition: background-color 0.5s ease;
}

.web-button button:hover {
    background-color: #ffffff79;
}

.ball-pop.animate {
    animation: draw 2s 2s linear forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* Products Page */

.wave {
    background-color: #b42024;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}

#wave-animation {
    z-index: 0;
}

/* Background Animation */

.wave-up {
    background-repeat: repeat-x;
    position: absolute;
    width: 105%;
    height: 100%;
    left: -1%;
    animation: up 1s ease 1 forwards;
}

@keyframes up {
    0% {
        top: 100%;
    }
    100% {
        top: 20%;
    }
}

/* Product Slider */

#can {
    overflow: hidden;
    position: relative;
    max-width: 240px;
    margin-left: 1.5vw;
    animation: pop 0.5s ease 1 forwards;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#product-slider {
    display: flex;
}

#can img {
    max-width: 100%;
    height: 100%;
}

#prev, #next {
    justify-self: center;
    margin-top: 160%;
    height: 40px;
    cursor: pointer;
}

#next {
    transform: rotate(180deg);
}

/* Product Content */

#info {
    text-align: center;
    color: white;
}

#info h1 {
    font-family: 'League Spartan';
    text-transform: uppercase;
    font-size: 24pt;
    margin-top: 50px;
}

#rating img {
    width: 170px;
}

.link {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 12pt;
    color: white;
    margin-left: 20px;
}

#nv-table {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    margin: 30px 0;
    padding: 15px;
    max-width: 380px;
    justify-self: center;
}

#nv-table h2 {
    font-size: 14pt;
}

#nv-table h3 {
    font-size: 11pt;
    font-weight: lighter;
    padding: 5px 0 10px 0;
    border-bottom: 2px solid white;
}

#nv-table h4 {
    margin: 5px 8px;
    font-size: 9pt;
    text-align: right;
}

#nv-table ul {
    font-size: 10pt;
    list-style-type: none;
}

#nv-table li:nth-child(odd) {
    background-color: #dddddd58;
}

#nv-table li {
    padding: 5px 10px;
}

.label-value {
    font-weight: lighter;
    float: right;
}

#nv-table p {
    margin-top: 5px;
    padding-top: 10px;
    line-height: 20px;
    border-top: 2px solid white;
    font-size: 9pt;
}

.buttons {
    text-align: center;
}

.buttons button {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 14pt;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 6px 10px #00000066;
}

#buy {
    background-color: #940005;
    border: 2px solid #840004;
    margin-right: 6px;
    border: none;
}

#write {
    background-color: transparent;
    border: 2px solid white;
}

#flavors {
    text-align: center;
    margin: 50px 0;
}

#flavors p {
    font-family: 'League Spartan', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.flavor-selector img {
    padding-left: 15px;
    display: inline-block;
    width: 80px;
}

.flavor-selector img:first-child {
    padding-left: 0;
}

/* Products Animation */

#product-slider {
    transition: transform .5s ease-in-out;
}

#buy, #write {
    transition: background-color 0.3s ease;
}

#buy:hover {
    background-color: #c60005;
}

#write:hover {
    background-color: #ffffff2f;
}

.flavor-selector img {
    transition: transform 0.2s ease;
}

.flavor-selector img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 775px) {

    /* Index Page */

    #burger-con ul {
        text-align: right;
    }

    #burger-con {
        display: inline;
    }
    
    #burger-con li {
       border: none;
       display: inline-block;
       font-size: 12pt;
       margin: 10px 10px 0 10px;
    }

    #burger-con li:last-child {
        margin: 0 0 0 10px;
     }
    
    #top-nav label {
        display: none;
    }

    #banner-mission, #banner-story {
        height: 500px;
    }

    #banner-contact {
        height: 700px;
    }

    .background-picture img {
        height: auto;
        width: 100%;
    }

    #banner-contact .grid-con {
        grid-template-rows: 220px 60px 100px 100px 100px;
    }

    .background-hero .content h2 {
        margin-top: 180px;
    }

    .content {
        text-align: center;
    }

    .content h2 {
        margin-top: 130px;
        font-size: 26pt;
    }

    .content p {
        font-size: 16pt;
        line-height: 30px;
    }

    .content a {
        font-size: 12pt;
        padding: 18px 5vw;
    }

    .content .icon, .form {
        text-align: left;
    }

    .icon p {
        font-size: 13pt;
    }

    .icon .fa-solid {
        font-size: 14pt;
        margin-top: 16px;
    }

    .form label {
        font-size: 14pt;
        margin-bottom: 10px;
    }

    .form input[type=text], .form input[type=submit], .form textarea {
        padding: 12px;
        width: calc(100% - 28px);
    }

    .form input[type=submit] {
        padding: 15px 12px;
        width: 100%;
    }

    #bottom-nav ul {
        margin-top: 30px;
    }

    #bottom-nav li, #bottom-nav li:last-child {
        margin: 0 3vw 0 0;
    }

    /* Mission Page */

    #achievement {
        height: 500px;
    }

    .mission h2 {
        margin-top: 120px;
        font-size: 26pt;
    }
    
    .mission p {
        font-size: 22pt;
        line-height: 40px;
    }

    .text {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .text h2 {
        font-size: 21pt;
    }
    
    .text p {
        text-align: justify;
        text-align-last: center;
        text-justify: inter-word;
        line-height: 28px;
    }
    
    .text h3 {
        font-size: 16pt;
        line-height: 28px;
    }

    #goal-text {
        font-size: 14pt;
        line-height: 32px;
        margin-top: 8%;
    }
    
    .pop svg {
        width: 120px;
        height: 120px;
    }
    
    .pop h3 {
        font-size: 20pt;
    }
    
    .pop p {
        font-size: 12pt;
    }
    
    .text-pop {
        margin-top: 30px;
    }

    #tree-pop {
        display: grid;
        overflow: hidden;
        background-image: url(../images/tree.svg);
        margin: 40px auto 0 auto;
        width: 50px;
        height: 30px;
        opacity: 0;
    }

    #tree-pop.animate {
        animation: clone 4s 2s ease forwards;
    }

    @keyframes clone {
        to {
            opacity: 1; 
            width: 650px;
        }
    }

    .text-expand {
        display: grid;
        margin-top: 15px;
        font-size: 10pt;
        opacity: 0;
    }
    
    .text-expand.animate {
        animation: reveal 1s 4s ease forwards;
    }

    .web-button {
        text-align: center;
    }

    .web-button button {
        width: 90%;
    }

    /* Products Page */

    #info {
        grid-row: 1;
    }

    #nv-table {
        grid-row: 2;
    }

    .buttons {
        grid-row: 3;
    }

    .flavors {
        grid-row: 4;
    }

    .products .grid-con {
        grid-template-rows: 90px 310px 90px auto;
    }

    .wave {
        padding-top: 30px;
    }

    #prev, #next, #can {
        grid-row: 1/3;
    }

    #prev, #next {
        width: 25px;
        margin-top: 22vw;
    }

    #can {
        margin-top: 40px;
        height: 500px;
    }

    #info {
        text-align: left;
    }
    
    #info h1 {
        margin-top: 0;
    }
    
    #rating img {
        width: 170px;
    }
    
    #nv-table {
        margin: 0;
        padding: 13px;
        height: 285px;
        justify-self: left;
    }

    #nv-table h2 {
        font-size: 12pt;
    }

    #nv-table h3 {
        font-size: 10pt;
    }
    
    #nv-table li {
        padding: 4px 10px;
    }
    
    .buttons {
        margin-top: 30px;
        max-width: 412px;
    }

    .buttons button {
        max-width: 48%;
    }

    #buy {
        margin-right: 0;
    }
    
    #flavors {
        margin-bottom: 50px;
    }
    
    #flavors p {
        width: 50px;
        font-size: 13pt;
        margin-top: 22px;
        text-align: left;
        float: left;
    }
    
    .flavor-selector img {
        padding-left: 5px;
        width: 45px;
    }

    #space {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    /* Index Page */

    #socials {
        text-align: center;
    }

    #bottom-nav ul {
        margin: 20px 0 40px 0;
        text-align: right;
    }
    
    #bottom-nav li {
        display: inline-block;
        margin: 0 25px 20px 0;
    }
    
    #bottom-nav li:first-child {
        margin-left: 25px;
    }
    
    #bottom-nav li:last-child{
        margin-right: 0;
    }

    .icon p {
        font-size: 14pt;
    }

    .icon .fa-solid {
        font-size: 18pt;
    }

    /* Our Mission Page */

    .text-expand {
        display: grid;
    }

    .web-button {
        height: 320px;
    }

    .web-button button {
        margin-top: 240px;
        font-size: 12pt;
    }

    /* Products Page */

    #prev, #next {
        margin-top: 260px;
    }

    #nv-table {
        height: 300px;
    }

    #nv-table h2 {
        font-size: 13pt;
    }

    #nv-table h3 {
        font-size: 11pt;
    }

    #nv-table ul li {
        font-size: 11pt;
    }

    #nv-table p {
        font-size: 10pt;
    }
    
    .buttons {
        margin-top: 50px;
    }

    #flavors p {
        font-size: 15pt;
        width: auto;
    }
}
